:root {
    --w: 100%;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 1rem 0;
}

.container {
    padding: 1rem;
}

.meme {
    display: flex;
    font-size: 1.5rem;
    background-color: white;
    flex-wrap: wrap;
    cursor: pointer;
    border-bottom: 0.2rem solid silver;
    border-radius: 0.4rem;
    overflow: hidden;
}

.select {
    display: none;
}

.meme__image {
    margin: 1rem auto;
    z-index: 1;
    width: 0;
    object-fit: contain;
    transition: transform 0.5s 0.2s ease-in-out, width 0.5s ease-in-out;
}

.select:checked ~ .meme__image {
    width: var(--w);
    transform: rotate(360deg);
}

.meme:hover > input:not(:checked) ~ .meme__image {
    width: var(--w);
    transform: rotate(360deg);
}


.meme__title {
    background-color: white;
    color: cornflowerblue;
    width: 96%;
    z-index: 2;
}

.memes:hover .meme__title {
    color: black;
}

.meme__toggle {
    width: 3%;
    visibility: hidden;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0deg);
}

.memes:hover .meme__toggle {
    visibility: visible;
    transform: rotate(405deg);
}


.meme:hover > input:not(:checked) ~ .meme__toggle {
    visibility: visible;
    transform: rotate(405deg);
}

.meme:hover > input:checked ~ .meme__toggle {
    transform: rotate(0deg);
}

@media screen and (min-width: 320px ) {
    .container {
        padding: 2rem;
    }

    .meme:hover > input:not(:checked) ~ .meme__image {
        width: 90%;
        transform: rotate(360deg);
    }

    .select:checked ~ .meme__image {
        width: 90%;
    }
}

@media screen and (min-width: 820px ) {
    .container {
        padding: 4rem;
    }

    .meme:hover > input:not(:checked) ~ .meme__image {
        width: 50%;
        transform: rotate(360deg);
    }

    .select:checked ~ .meme__image {
        width: 50%;
    }
}

@media screen and (min-width: 1920px ) {
    .container {
        padding: 5rem;
    }

    .meme:hover > input:not(:checked) ~ .meme__image {
        width: 30%;
        transform: rotate(360deg);
    }

    .select:checked ~ .meme__image {
        width: 30%;
    }
}


